{% extends 'admin/model/edit.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary" style="margin-top: 20px;">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if request.endpoint.endswith('.create_view') %}
                            <i class="fa fa-plus-circle"></i> Thêm Mới
                        {% else %}
                            <i class="fa fa-pencil-square-o"></i> Chỉnh Sửa
                        {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                    {% call lib.form_tag(form) %}
                        <div class="form-group">
                           {{ lib.render_form_fields(form) }}
                        </div>

                        <div class="form-group text-right">
                            <a href="{{ return_url }}" class="btn btn-default">Hủy bỏ</a>
                            <input type="submit" class="btn btn-primary" value="Lưu dữ liệu" />
                        </div>
                    {% endcall %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}